<!DOCTYPE html>
<html lang="en">

<head>
    <title>Rover Command Center</title>

    <!-- USING BOOTSTRAP VIA A CONTENT DELIVERY NETWORK (CDN) -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- socket.io via CDN -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>


    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
</head>

<!--BOOTSTRAP STYLING -->
<style>
    .bg-1 {
        background-color: #1abc9c; /* Green */
        color: #ffffff;
    }
    .footer {
        padding: 15px;
        background-color: #474e5d; /* Dark Blue */
        color: #ffffff;
    }
    .col-style {
        padding: 10px;
        outline: 3px solid #ffffff;
    }
    .row-style {
        padding: 15px
    }
    .header-style {
        font-family: 'Gloria Hallelujah', cursive;
    }
    #socket_status {
        color: #02ff00;
        font-size: 15px;
        font-weight: bold;
    }
</style>

<body>
    <script type="text/javascript">
        $(document).ready(function () {
            var socket = io.connect('http://127.0.0.1:5000');
            socket.on('connect', function() {
                socket.send('User connected.');
            });

            socket.on('message', function(msg) {
               $("#message_list").append('<li>'+msg+'</li>');
               console.log('Message received.');
            });

            $('#send_btn').on('click', function() {
               socket.send($('#cmd_param').val());

               //clear out current command to make room for a new one
               $('#cmd_param').val(' ');
            });
        });
    </script>
    <div class="container-fluid header-style">
        <div class="row row-style">
            <div class="col-md-8 text-left">
                <h1>CPRE 288 GUI</h1>
            </div>
            <div class="col-md-4 text-right">
                <a style="font-size: 20pt" href="https://git.ece.iastate.edu/dlimanow/web-gui-cpre288" target="_blank">> REPO</a>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-1 text-center">
        <h3>CONTROL CENTER</h3>
        <div class="row row-style">
            <div class="col-md-10">
                <div class="col-md-12 col-style">
                    <form class="form-inline" id="cmd_form" action="#" method="post">
                        <div class="form-group">
                            <label for="sel_cmd">Select command:</label>
                            <select class="form-control" id="cmd_sel">
                                <option>Move</option>
                                <option>Turn</option>
                                <option>Scan</option>
                                <option>Sound</option>
                                <option>Retrieve</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="param">Command Parameter:</label>
                            <input type="text" class="form-control" id="cmd_param">
                        </div>
                        <button type="submit" class="btn btn-danger">Send Command</button>
                        <button id="send_btn">SEND MSG</button>
                     </form>
                </div>
            </div>
            <div class="col-md-2">
                <div class="col-md-12 col-style">
                    <div id=socket_status>"Connecting to web socket..."</div>
                </div>
            </div>
        </div>
        <div class="row row-style">
            <div class="col-md-7">
                <div class="col-md-12 col-style">
                    <p>CONSOLE GOES HERE</p>
                    <ul id="message_list"></ul>
                </div>
            </div>
            <div class="col-md-5">
                <div class="col-md-12 col-style">
                    <p>ANGULAR GRAPH GOES HERE</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <h4>&copy; Daniel Limanowski / ARMed and Ready CPRE 288 Team</h4>
    </footer>
</body>